#main-navigation {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    position: absolute;
    top: 0;
    left: 0;
}


#main-navigation {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#main-navigation a:hover,
#main-navigation a:active {
    color: brown;
}

#main-navigation h1 a:hover,
#main-navigation h1 a:active {
    color: rgb(243, 215, 215);
}


#welcome header {
    display: flex;
    align-items: flex-start;
    margin: 3rem auto;
}


#welcome img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    object-position: top;
    border: 5px solid white;
    border-radius: 12px;
    background-color: antiquewhite;
    transform: rotateZ(-5deg);
    box-shadow: 0 2px 8px rgb(75, 74, 74);
}


#welcome h2 {
    font-size: 3.5rem;
    margin: 0 0 0 2rem;
    color: antiquewhite;
    width: 10rem;
}




